body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5a6972;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #191a18;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(100, 92, 92,3.4);
    width: 300px;
}

.display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    background-color: #747479;
    color: rgb(232, 229, 240)
    
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.key {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    background-color: #e7d7d7;
    color: rgb(27, 26, 27);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.operator {
    background-color: #f2713d; /* orange */
}